@model PostVM

<div class="card mb-4 shadow-sm border border-primary border-2 ">

    <div class="card-body">
        <partial name="_ArticleTitle" model="@Model.Body.Title" />
        <partial name="_ArticleHeader" model="@Model.Header" />
        <partial name="_PostBody" model="@Model.Body" />
        <partial name="_PostGallery" model="@Model.Images" />
    </div>
</div>