@model PostHeaderViewModel

<div class="post-header text-center mb-2">
    <a asp-controller="Profile" asp-action="Index"
       asp-route-username="@Model.Author.Username">
        @Model.Author.DisplayedName
    </a>
    <div class="text-muted small">
        @Model.CreatedAt.ToLocalTime().ToString("g")
    </div>
</div>

