<div class="card border-0" style="background-color: antiquewhite">
    <div class="card-body">
        <a href="#" class="d-flex align-items-center">
            <i class="bi bi-house"></i>
            <span>Home</span>
        </a>
        <a href="#" class="d-flex align-items-center">
            <i class="bi bi-fire"></i>
            <span>Popular</span>
        </a>
        <a href="#" class="d-flex align-items-center">
            <i class="bi bi-asterisk"></i>
            <span>All</span>
        </a>
    </div>
</div>
