@using Plenumio.Web.Models.Tag
@model PageVM<IEnumerable<TagVM>>

@{
    ViewData["Title"] = Model.Title;
}

<div class="col-8">
    <div class="row g-2">
        @foreach (var tag in Model.Content) {
            <partial name="_TagDetails" model="tag" />
        }
    </div>
</div>


<div class="col-4 d-flex flex-column gap-2">

    <vc:trending-users-card></vc:trending-users-card>

    <vc:recently-viewed-posts></vc:recently-viewed-posts>

    <partial name="_Footer" />

</div>