@using Plenumio.Web.Models.Search
@model PageVM<SearchVM>
@{
    ViewData["Title"] = Model.Title;
}


<div class="col-8 d-flex flex-column gap-3">
    <vc:tags filters="Model.Content.TagFilters" current-user-id="Model.CurrentUserId"></vc:tags>
    <vc:users filters="Model.Content.UserFilters" current-user-id="Model.CurrentUserId"></vc:users>
    <vc:posts filters="Model.Content.PostFilters" current-user-id="Model.CurrentUserId"></vc:posts>

</div>

<div class="col-4 d-flex flex-column gap-3">

    <vc:recently-viewed-posts></vc:recently-viewed-posts>

    <partial name="_Footer" />

</div>
