@model PostHeaderViewModel

<div class="post-header d-flex align-items-center mb-2">
    <img src="@Model.Author.AvatarUrl" class="rounded-circle me-2" width="40" height="40" />
    <div>
        <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.Author.Username">@Model.Author.DisplayedName</a>
        <small>@@@Model.Author.Username</small>
        <div class="text-muted small">@Model.CreatedAt.ToLocalTime().ToString("g")</div>
    </div>
</div>
