<nav class="navbar py-1 border-bottom border-2 border-secondary bg-light">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand me-3 " asp-controller="Feed" asp-action="Index">PLENUMIO</a>

        <form asp-controller="Feed" asp-action="Index" method="get" class="mx-auto" id="searchForm">
            <div class="input-group w-100">
                <span class="input-group-text border-0 rounded-start">
                    <i class="bi bi-search"></i>
                </span>
                <input type="hidden" name="Scope" value="Global" />
                <input type="hidden" name="Tag" id="tagField" />
                <input type="text"
                       class="form-control border-0 rounded-end"
                       name="Search"
                       id="searchField"
                       placeholder="Search posts or #tag"
                       style="box-shadow: none;" />
            </div>
        </form>
        
        

        <ul class="navbar-nav d-flex flex-row align-items-center gap-2">
            @if (SignInManager.IsSignedIn(User)) {
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#">
                        <i class="bi bi-plus-circle fs-4"></i>
                        <span class="ms-1">Create</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-chat-left-text fs-4"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-bell fs-4"></i></a>
                </li>
                <li class="nav-item">
                    <a id="manage" class="nav-link d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <i class="bi bi-person-circle fs-4"></i>
                        <span class="ms-1">@UserManager.GetUserName(User)!</span>
                    </a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-link nav-link  p-0 m-0">Logout</button>
                    </form>
                </li>
            } else {
                <li class="nav-item">
                    <a class="nav-link  d-flex align-items-center" id="register" asp-area="Identity" asp-page="/Account/Register">
                        <i class="bi bi-person-add"></i>
                        <span class="ms-1">Sign Up</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary d-flex align-items-center" id="login" asp-area="Identity" asp-page="/Account/Login">
                        <i class="bi bi-box-arrow-in-right me-1"></i> Login
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>
