@model PostFeedPageModel

<div class="bg-body rounded">
    @foreach (var post in Model.Posts) {
        switch (post.Type) {
            case PostType.Standard:
                <partial name="_PostFeed" model="@post" />
                break;

            case PostType.Article:
                break;

            case PostType.Media:
                break;

            default:
                break;
        }
    }
</div>
