<div class="card border-0 bg-light">
    <div class="card-body px-0 small text-center">
        Plenumio Rules | Privacy Policy | User Agreement <br> Accessibility <br>
        © Plenumio - All rights reserved.
    </div>
</div>