<div class="card bg-body border-0">
    <div class="card-body px-0 small text-center">
        Plenumio Rules | Privacy Policy | User Agreement | Accessibility <br>
        © Plenumio - All rights reserved.
    </div>
</div>