<nav class="navbar py-1 border-bottom border-2 border-secondary bg-body">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand me-3 " asp-controller="Feed" asp-action="Index">PLENUMIO</a>

        <form asp-controller="Search" asp-action="Index" method="get" class="mx-auto col-7" id="searchForm">
            <div class="input-group w-100">
                <span class="input-group-text border-0 rounded-start">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text"
                       class="form-control border-0 rounded-end"
                       name="search"
                       id="searchField"
                       placeholder="Search posts, tags and users"
                       style="box-shadow: none;" />
            </div>
        </form>
        
        

        <ul class="navbar-nav d-flex flex-row align-items-center gap-2">
            @if (SignInManager.IsSignedIn(User)) {
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#">
                        <i class="bi bi-plus-circle fs-4"></i>
                        <span class="ms-1">Create</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-chat-left-text fs-4"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-bell fs-4"></i></a>
                </li>
                <li class="nav-item">
                    <a id="manage" class="nav-link d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <i class="bi bi-person-circle fs-4"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="d-inline" asp-controller="Login" asp-action="Logout">
                        <button type="submit" class="btn btn-link nav-link  p-0 m-0">Logout</button>
                    </form>
                </li>
            } else {
                <li class="nav-item">
                    <a class="nav-link  d-flex align-items-center" id="register" asp-controller="Register" asp-action="Index" asp-route-returnurl="@(Context.Request.Path)@(Context.Request.QueryString)">
                        <i class="bi bi-person-add"></i>
                        <span class="ms-1">Sign Up</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary d-flex align-items-center" id="login" asp-controller="Login" asp-action="Index" asp-route-returnurl="@(Context.Request.Path)@(Context.Request.QueryString)">
                        <i class="bi bi-box-arrow-in-right me-1"></i> Login
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>

<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const searchValue = document.getElementById('searchField').value;

        const newUrl = `/Search/${encodeURIComponent(searchValue)}`;

        window.location.href = newUrl;
    });
</script>
