<div class="card border-0 bg-body text-light">
    <div class="card-body p-0">
        <a href="#" class="d-flex align-items-center gap-2 px-3 py-2 text-decoration-none text-light rounded
                       @(ViewData["ActiveFeed"]?.ToString() == "Home" ? "bg-dark-custom-hover" : "")">
            <i class="bi bi-house"></i>
            <span>Home</span>
        </a>
        <a href="#" class="d-flex align-items-center gap-2 px-3 py-2 text-decoration-none text-light rounded
                       @(ViewData["ActiveFeed"]?.ToString() == "Popular" ? "bg-dark-custom-hover" : "")">
            <i class="bi bi-fire"></i>
            <span>Popular</span>
        </a>
        <a href="#" class="d-flex align-items-center gap-2 px-3 py-2 text-decoration-none text-light rounded
                       @(ViewData["ActiveFeed"]?.ToString() == "All" ? "bg-dark-custom-hover" : "")">
            <i class="bi bi-asterisk"></i>
            <span>All</span>
        </a>
        <div class="dropdown-divider bg-secondary"></div>
    </div>
</div>
