<div class="card bg-dark text-light mt-auto">
    <div class="card-body small text-center">
        Plenumio Rules | Privacy Policy | User Agreement | Accessibility <br>
        © Plenumio - All rights reserved.
    </div>
</div>