@model IEnumerable<PostFeedViewModel>

<div class="bg-body rounded">
    @foreach (var post in Model) {
        switch (post.Type) {
            case PostType.Standard:
                break;

            case PostType.Article:
                break;

            case PostType.Media:
                break;

            default:
                break;
        }
        <partial name="_PostFeed" model="@post" />
    }
</div>
