@using Plenumio.Web.Models.Profile
@model FollowStatusIncomingVM?

@if (Model != null) {
    @switch (Model) {
        case FollowStatusIncomingVM.Accept:
            <div class="d-flex gap-1 incoming-btns">
                <button type="button" class="btn btn-sm btn-success accept-btn">Accept</button>
                <button type="button" class="btn btn-sm btn-danger decline-btn">Decline</button>
            </div>
            break;

        case FollowStatusIncomingVM.Following:
            <span class="badge bg-secondary">Follows you</span>
            break;

        case FollowStatusIncomingVM.Declined:
            <span class="badge bg-light border text-muted">Declined</span>
            break;
    }
}