@using Plenumio.Web.Models.Profile
@model FollowStatusOutgoingVM?

@if (Model != null) {
    <button class="btn btn-sm btn-primary outgoing-btn" data-status="@Model">
        @Model
    </button>

    
}