@using Plenumio.Web.Models.Profile
@model UserRelationshipVM

<div class="user-relationship-container" data-userid="@Model.TargetUserId">
    @Html.AntiForgeryToken()
    <partial name="_ButtonOutgoing" model="@Model.Outgoing" />
    <partial name="_ButtonIncoming" model="@Model.Incoming" />
</div>
