@model PageVM<FeedPageModel>

@{
    ViewData["Title"] = Model.Title;
}

<div class="col-8 d-flex flex-column">
    @if (SignInManager.IsSignedIn(User)) {
            <partial name="_CreatePostFeed" model='new CreatePostViewModel {
                                        Content = "",
                                        Privacy = PrivacyType.Public,
                                        Tags = string.Empty
                                    }' />
    }


    @* @if (Model.Content.Filters.Tag is not null) {
        <vc:tag tag-name="@Model.Content.Filters.Tag"></vc:tag>
    } *@

    <partial name="_FeedCards" model="@Model.Content" />
</div>

<div class="col-4 d-flex flex-column gap-3">

    <vc:trending-tags-card></vc:trending-tags-card>

    <vc:trending-users-card></vc:trending-users-card>

    <vc:recently-viewed-posts></vc:recently-viewed-posts>

    <partial name="_Footer" />

</div>

@section Scripts {
    @* <script>
        $(document).ready(function() {
            $('#searchForm').on('submit', function(e) {
                e.preventDefault();               
            
                const searchInput = $('#searchField');
                const query = searchInput.val().trim();

                let tag = null;
                let username = null;
                let searchTerm = null;

                if (query.startsWith('#')) {
                    const parts = query.substring(1).split(' ');

                    tag = parts[0];

                    searchTerm = parts.slice(1).join(' ').trim();
                } else if (query.startsWith('^')) {
                    console.log("am here");
                    const parts = query.substring(1).split(' ');

                    username = parts[0];
                    console.log("now here")
                } else {
                    searchTerm = query;
                }

                $('#tagField').val(tag || '');
                $('#usernameField').val(username || '');
                $('#searchField').val(searchTerm);
                this.submit();
            });

        });
    </script> *@
}