@{
    ViewData["Title"] = "Feed";
}

<div class="col-8 d-flex flex-column">
    <partial name="_CreatePostFeed" model='new CreatePostViewModel {
                                        Content = "",
                                        Privacy = PrivacyType.Public,
                                        Tags = []
                                    }' />

    <vc:post-feed></vc:post-feed>
</div>

<div class="col-4 d-flex flex-column gap-2">

    <vc:trending-tags-card></vc:trending-tags-card>

    <vc:trending-users-card></vc:trending-users-card>

    <vc:recently-viewed-posts></vc:recently-viewed-posts>

    <partial name="_Footer" />

</div>