@using Plenumio.Application.DTOs.Users.Requests
@model RegisterUserRequest

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Index" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DisplayedName" class="form-label"></label>
        <input asp-for="DisplayedName" class="form-control" />
        <span asp-validation-for="DisplayedName" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}